<div class="body-image">
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <hr class="hr-break">
                    <h1>Welcome to Eco-Note</h1>
                    <h3>Are you tired of making notes and organizing them subject by subject? </h3>
                    <h3>Is making copies of your notes and sharing with your peers a pain?</h3>
                    <hr class="hr-break">
                    <h3>You have come to the right place</h3>
                    <h3> REGISTER today for organized notes!!</h3>
                </div>
            </div>
        </div>
    </div>
</header>
</div>