<div>
    <br>
    <div class="col-sm-1 col-lg-1 col-md-1"></div>
    <div class="col-sm-10 col-lg-10 col-md-10 main bg">
        <h1 align="center"> Profile </h1>
        <br>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="#/profile">Edit Profile</a></li>
            <li role="presentation"><a href="#/subject"> Subjects </a></li>
            <li role="presentation"><a href="#/subject/:subjectId/notebook"> Notebooks </a></li>
            <li role="presentation" ><a href="#/subject/:subjectId/notebook/:notebookId/note"> Notes </a></li>
            <li role="presentation" class="active"><a href="#/group">Groups</a></li>
        </ul>
    <form>
        <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
        <div class="table-responsive" ng-controller="GroupController">
            <div>
                <hr class="hr-break">
                <h3 align="center">Groups where {{currentUser.firstName}} is a member</h3>
                <h4 align="center">Add, delete or update your group members or title here</h4>
                <br>
            </div>
            <table border="0" class="table">
                <thead>
                <tr>
                    <th class="small-font">Group Name </th>
                    <th class="small-font">Action</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" ng-model="model.group.groupName" class="form-control small-font"  placeholder="Group Name"></td>

                   <!-- <td><input type="text" ng-model="model.group.member" class="form-control small-font"  placeholder="Members"></td> -->

                    <td>
                        <a ng-click="model.addGroup(model.group.groupName);"  class="btn btn-default">
                         <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true">
                         </span>
                        </a>

                        <a ng-click="model.updateGroup(model.group.groupName);" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
                        </a>
                    </td>

                </tr>
                <tr ng-repeat="group in model.groups">

                    <td class="small-font" ng-click="model.groupDetails(group._id);"><a >{{group.title}}</a></td>

                    <td>

                        <a ng-click="model.selectGroup($index);" ng-model="model.index" class="btn btn-default">
                            <span class ="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span>
                        </a>
                        <a ng-if= "group.createdBy == model.user._id" ng-click="model.deleteGroup($index);" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash pull-right" aria-hidden="true"></span>
                        </a>


                    </td>

                </tr>


                </tbody>
            </table>
        </div>
    </form>
        </div>
    <div class="col-sm-1 col-lg-1 col-md-1"></div>


    <div class="modal fade" id="myNote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myNoteLabel">Share Notes with your group Members </h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label> Select Notes </label>
                            <select class="form-control" ng-model = "model.note">
                                <option ng-repeat="note in model.notes" >{{note.title}}</option>
                            </select>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <a type="button"  data-dismiss="modal" class="btn btn-primary" ng-model="model.index" ng-click="model.shareNotes(model.note, model.index);">
                        <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"> </span>
                    </a>
                    <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>

                </div>
            </div>
        </div>
    </div>

</div>