
<div>
    <br>

    <div class="col-sm-1 col-lg-1 col-md-1"></div>
    <div class="col-sm-10 col-lg-10 col-md-10 main bg">
        <br>
         <br>
        <h1 align="center">Terms and Conditions</h1> 
        <div>
            <h3>Eco-Note has three advantages:</h3>
            <p > Your data is yours </p>
            <p > Your data is protected and safe</p>
            <p > Your data is portable </p>

        </div>

        <div>
            <h3>What are the terms of service for Eco-Note?</h3>
            <p class="justify">The Terms of Service constitutes a contract between us.
                The Terms include the provisions set forth in this document.
                If you do not agree to these Terms, you do not have the right to access or use our Service.
                If you do register for or otherwise use our Service you shall be deemed to confirm your acceptance of the Terms and your agreement to be a party to this binding contract.</p>
        </div>

        <div>
            <h3>Will Eco-Note have a look at my content?</h3>
            <p class="justify">The privacy in your Content is the most important concern for us, and we hope that we never need
                to examine anyone’s Content. However, there are limited circumstances in which we may have the need to review part or all of your Content.

            </p>
        </div>

    </div>
    <div class="col-sm-1 col-lg-1 col-md-1"></div>

</div>




