<div ng-controller="UserController" >
    <h1 align="center">All User Data</h1>
    <br>
    <form>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Action</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" ng-model="username" class="form-control"  placeholder="Username"></td>
                    <td><input type="text" ng-model="firstName" class="form-control"  placeholder="First Name"></td>
                    <td><input type="text" ng-model="lastName" class="form-control"  placeholder="Last name"></td>
                    <td>
                        <a ng-click="addUser(username,firstName,lastName)"  class="btn btn-primary">
                         <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true">
                         </span>
                        </a>

                        <a ng-click="updateUser(username,firstName,lastName)" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
                        </a>
                    </td>

                </tr>
                <tr ng-repeat="user in users track by $index">
                    <td><a>{{user.username}}</a></td>
                    <td><a>{{user.firstName}}</a></td>
                    <td><a>{{user.lastName}}</a></td>
                    <td>
                        <a ng-click="deleteUser($index)" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
                        </a>
                        <a ng-click="selectUser($index)" class="btn btn-warning">
                            <span class ="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
                        </a>


                    </td>

                </tr>


                </tbody>
            </table>
        </div>
    </form>

</div>