<div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Eco-Note</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbar" class="navbar-collapse collapse" >
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/home">Home</a>
                </li>
                <li>
                    <a href="Projectproposal.pdf">Documentation</a>
                </li>

                <li>
                    <a href="#/login">Login</a>
                </li>
                <li>
                    <a href="#/register">Register</a>
                </li>
                <li>
                    <a href="#/home">Logout</a>
                </li>
                <li>
                    <a href="#/profile">Profile</a>
                </li>
                <li class="page-scroll">
                    <a href="Projectproposal.pdf">Contact</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->

</nav>

    </div>