

<div>
    <div class="col-sm-3 col-md-3">
        <div class="col-sm-3 col-md-3 sidebar">
            <br><br> <br> <br>
            <textarea rows="10" cols="30" class="left">Profile Picture</textarea>
            <h5 align="center"> Username </h5>
            <h5 align="center"> EmailID@emailid.com</h5>
            <h5 align="center"> <a href="#">Account Settings</a></h5>
        </div>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">

        <h1 >Profile</h1>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="#/profile">Edit Profile</a></li>
            <li role="presentation" class="active"><a href="#/noteList">Notes Created</a></li>
            <li role="presentation"><a href="#/groupList">Groups</a></li>
        </ul>

        <div class="container">
            <form>
                <div>
                    <h2 class="pull-left">Name of the Notes</h2>
                    <hr class="hr-break">
                    <div class="pull-left">
                    </div>
                    <div class="col-sm-12">

                    </div>
                </div>
            </form>

        </div>




    </div>

</div>