<div>
    <h1>Forms</h1>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#/forms">Forms</a></li>
        <li role="presentation"><a href="#/forms/:formId/field">Fields</a></li>
    </ul>
    <form>
        <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
        <div class="table-responsive" ng-controller="FormController">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        Form Name</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        Action</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" ng-model="model.form.formName" class="form-control"  placeholder="name"></td>
                    <td>
                        <a ng-click="model.addForm(model.form.formName);"  class="btn btn-default">
                         <span class="glyphicon glyphicon-plus right-place " aria-hidden="true">
                         </span>
                            </a>

                        <a ng-click="model.updateForm(model.form.formName);" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok right-place" aria-hidden="true"></span>
                        </a>
                    </td>

                </tr>
                <tr ng-repeat="form in model.forms">
                    <td><a ng-click="model.goToFields(form._id);">{{form.title}}</a></td>
                    <td>
                        <a ng-click="model.deleteForm($index);" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove right-place " aria-hidden="true"></span>
                        </a>
                        <a ng-click="model.selectForm($index);" ng-model="model.index" class="btn btn-default">
                        <span class ="glyphicon glyphicon-pencil right-place " aria-hidden="true"></span>
                            </a>


                    </td>

                </tr>


                </tbody>
            </table>
        </div>
    </form>

</div>