<div>


    <div class="col-sm-12 col-lg-12 col-md-12 main">
        <br>
        <h1 align="center">Profile</h1>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="#/profile">Edit Profile</a></li>
            <li role="presentation"><a href="#/subject"> Subjects </a></li>
            <li role="presentation" class="active"><a href="#/checklist">To-Do-Lists/Notes</a></li>
            <li role="presentation"><a href="#/group">Groups</a></li>

        </ul>

        <form>
            <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
            <div class="table-responsive" ng-controller="CheckListController as model">
                <div>
                    <hr class="hr-break">
                    <h3 align="center">To Do Lists to be completed by {{currentUser.firstName}}</h3>
                    <h4 align="center">Add, delete or edit your check lists and notes here</h4>
                    <br>
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="small-font"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            To-Do-List</th>
                        <th class="small-font"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" ng-model="model.checklist.listName" class="form-control small-font"  placeholder="name"></td>
                        <td>
                            <a ng-click="model.addCheckList(model.checklist.listName);"  class="btn btn-default">
                         <span class="glyphicon glyphicon-plus right-place " aria-hidden="true">
                         </span>
                            </a>

                            <a ng-click="model.updateCheckList(model.checklist.listName);" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok right-place" aria-hidden="true"></span>
                            </a>
                        </td>

                    </tr>

                    <tr ng-repeat="checklist in model.checklists">
                        <td><a ng-click = "model.goToChecklist(checklist._id);" class="small-font">{{checklist.title}}</a></td>
                        <td>
                            <a ng-click="model.deleteChecklist($index);" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove right-place " aria-hidden="true"></span>
                            </a>
                            <a ng-click="model.selectCheckList($index);" ng-model="model.index" class="btn btn-default">
                                <span class ="glyphicon glyphicon-pencil right-place " aria-hidden="true"></span>
                            </a>


                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </form>

    </div>

</div>