<div>

    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 main">

        <form class="form-horizontal style"> 
            <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
            <div ng-controller="ListContentController as model">
                <div>
                    <h3 class="pull-left margins-bottom">{{model.checklist.title}}</h3>

                    <div class="pull-left">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star-empty center" aria-hidden="true"></span>
                        </button>
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>

                <br> <br>

                <div text-angular ng-model="model.checklist.content">
                </div>


            </div>
        </form>

    </div>

</div>



