.align{
    text-align: center;
    color:white;

}

.cent{
    margin-left: 40%;
}
.heading{
    text-align:center;
    color:white;
    font-size: 400%;
}


.name{
    font-size: 165%;
    position: relative;
    left: 30px;
    top: 15px;
    color: black;
    font-weight:500;
}



.barcolor{
    background-color:transparent;
    height: 75px;
    font-size: 125%;

}
.pos{
    top: 15px;
    color: black;
}
.divide{
    background-color:transparent;
    color:black;
}

.custom{
    background-color: darkgreen;
}
