.align{
    text-align: center;
    color:white;

}
.heading{
    text-align:center;
    color:white;
    font-size: 400%;
}

.hrbreak{
    width:0%;
    height: 15px;
}

.name{
    font-size: 165%;
    position: relative;
    left: 30px;
    top: 15px;
    color: black;
    font-weight:500;
}



.barcolor{
    background-color:transparent;
    height: 75px;
    font-size: 125%;
    color:black;
}
.pos{
    top: 15px;
    color: black;
}
.divide{
    background-color:transparent;
    color:black;
}
.takedown{
    top:900px;
}
body{
    background-color:transparent;
    color:gray;
    background-image: url("BS.jpg");
    background-repeat: no-repeat;
    background-position: center;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;


}
