
<div>
    <div class="col-sm-12 col-lg-12 col-md-12 main">

        <h1 align="center">Profile</h1>
        <br>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="#/profile">Edit Profile</a></li>
            <li role="presentation"><a href="#/subject"> Subjects </a></li>
            <li role="presentation"><a href="#/subject/:subjectId/notebook"> Notebooks </a></li>
            <li role="presentation" class="active"><a href="#/subject/:subjectId/notebook/:notebookId/note"> Notes </a></li>
            <li role="presentation"><a href="#/group">Groups</a></li>
        </ul>
        <form>
            <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
            <div class="table-responsive" ng-controller="NoteController">
                <div>
                    <hr class="hr-break">
                    <h3 align="center">Notes created by {{currentUser.firstName}}</h3>
                    <h4 align="center">Add, delete or edit your notes here</h4>
                    <br>
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="small-font"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            Notes</th>
                        <th class="small-font"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" ng-model="model.note.noteName" class="form-control small-font"  placeholder="name"></td>
                        <td>
                            <a ng-click="model.addNote(model.note);"  class="btn btn-default">
                         <span class="glyphicon glyphicon-plus right-place " aria-hidden="true">
                         </span>
                            </a>

                            <a ng-click="model.updateNote(model.note);" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok right-place" aria-hidden="true"></span>
                            </a>
                        </td>

                    </tr>

                    <tr ng-repeat="note in model.notes">
                        <td><a ng-click = "model.goToNoteText(note._id);" class="small-font">{{note.title}}</a></td>
                        <td>
                            <a ng-click="model.deleteNote($index);" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove right-place " aria-hidden="true"></span>
                            </a>
                            <a ng-click="model.selectNote($index);" ng-model="model.index" class="btn btn-default">
                                <span class ="glyphicon glyphicon-pencil right-place " aria-hidden="true"></span>
                            </a>


                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </form>


    </div>

</div>