
<div>
    <br>
    <div class="col-sm-1 col-lg-1 col-md-1"></div>
    <div class="col-sm-10 col-lg-10 col-md-10 main bg">

        <h1 align="center">Profile</h1>
        <br>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="#/profile">Edit Profile</a></li>
            <li role="presentation" class="active"><a href="#/subject"> Subjects </a></li>
            <li role="presentation"><a href="#/subject/:subjectId/notebook"> Notebooks </a></li>
            <li role="presentation"><a href="#/subject/:subjectId/notebook/:notebookId/note"> Notes </a></li>
            <li role="presentation"><a href="#/group">Groups</a></li>

        </ul>
        <form>
            <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
            <div class="table-responsive" ng-controller="SubjectController">
                <div>
                    <hr class="hr-break">
                    <h3 align="center">Subjects created by {{currentUser.firstName}}</h3>
                    <h4 align="center">Add, delete or edit your subjects here</h4>
                    <br>
                </div>
                <table border = "0" class="table">
                    <thead>
                    <tr>
                        <th class="small-font">Subject Name</th>
                        <th class="small-font">Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" ng-model="model.subject.subjectName" class="form-control small-font"  placeholder="name"></td>
                        <td>
                            <a ng-click="model.addSubject(model.subject);"  class="btn btn-default">
                         <span class="glyphicon glyphicon-plus right-place " aria-hidden="true">
                         </span>
                            </a>

                            <a ng-click="model.updateSubject(model.subject);" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok right-place" aria-hidden="true"></span>
                            </a>
                        </td>

                    </tr>

                    <tr ng-repeat="subject in model.subjects">
                        <td><a ng-click = "model.goToNoteBook(subject._id);" class="small-font">{{subject.title}}</a></td>
                        <td>
                            <a ng-click="model.deleteSubject($index);" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove right-place " aria-hidden="true"></span>
                            </a>
                            <a ng-click="model.selectSubject($index);" ng-model="model.index" class="btn btn-default">
                                <span class ="glyphicon glyphicon-pencil right-place " aria-hidden="true"></span>
                            </a>


                        </td>

                    </tr>
                    </tbody>
                    </table>
                </div>
        </form>


    </div>
    <div class="col-sm-1 col-lg-1 col-md-1"></div>

</div>