<div>
    <br>
    <div class="col-sm-1 col-lg-1 col-md-1"></div>
    <div class="col-sm-10 col-lg-10 col-md-10 col-xs-10 main bg">

        <form class="form-horizontal style"> 
            <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
            <div ng-controller="PreviewTextController">
                <div>
                    <br> <br>
                    <h2 class="pull-left margins-bottom">{{model.note.noteTitle}}</h2>

                </div>

                <br>
                <div>
                    <div ng-bind-html="model.trustAsHtml(model.note.content)" ></div>
                </div>

                <br>


            </div>
        </form>

    </div>
    <div class="col-sm-1 col-lg-1 col-md-1"></div>


</div>



