<div>
    <h1 align="center">Group List For all Users</h1>
    <form>
        <div class="table-responsive" ng-controller="GroupController">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>

                    <th>Group Name</th>
                    <th>Users in the Group</th>
                    <th>Action</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" ng-model="groupName" class="form-control"  placeholder="Group Name"></td>
                    <td><input type="text" ng-model="username" class="form-control"  placeholder="Members"></td>

                    <td>
                        <a ng-click="addGroup(groupName, username)"  class="btn btn-primary">
                         <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true">
                         </span>
                        </a>

                        <a ng-click="updateGroup(groupName, username)" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
                        </a>
                    </td>

                </tr>
                <tr ng-repeat="group in groups track by $index">

                    <td><a>{{group.name}}</a></td>
                    <td>{{group.users.toString()}}</td>
                    <td>
                        <a ng-click="deleteGroup($index)" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
                        </a>
                        <a ng-click="selectGroup($index)" class="btn btn-warning">
                            <span class ="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
                        </a>


                    </td>

                </tr>


                </tbody>
            </table>
        </div>
    </form>

</div>