<div>
    <h1 align="center">Notebooks For all Users</h1>
    <form>
        <div class="table-responsive" ng-controller="NotebookController">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>

                    <th>Notebook Name</th>
                    <th>Notes</th>
                    <th>Action</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" ng-model="noteBookName" class="form-control"  placeholder="Notebook Name"></td>
                    <td><input type="text" ng-model="noteName" class="form-control"  placeholder="List Of Notes"></td>

                    <td>
                        <a ng-click="addNotebook(noteBookName, noteName)"  class="btn btn-primary">
                         <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true">
                         </span>
                        </a>

                        <a ng-click="updateNotebook(noteBookName, noteName)" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
                        </a>
                    </td>

                </tr>
                <tr ng-repeat="notebook in notebooks track by $index">

                    <td><a>{{notebook.title}}</a></td>
                    <td>{{notebook.notes.toString()}}</td>
                    <td>
                        <a ng-click="deleteNotebook($index)" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
                        </a>
                        <a ng-click="selectNotebook($index)" class="btn btn-warning">
                            <span class ="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
                        </a>


                    </td>

                </tr>


                </tbody>
            </table>
        </div>
    </form>

</div>