<div>
    <br>
    <header class="intro-header back">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <br>
                        <h1>Welcome!</h1>
                        <hr class="small">
                        <span class="subheading">Simplify your life with Eco-Note</span>
                    </div>
                </div>
            </div>
        </div>

    </header>


    <div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <br>
            <img src="assets/misc/about.jpg" class="img-responsive" >
        </div>
        <div class=" col-lg-7 col-md-7 col-sm-7 ">
            <h3>Creating and sharing notes was never this easy!</h3>
            <h4 class="post-subtitle">
               <p> Isn't is too stressful to organize your daily notes and to-do lists everyday?
                   To put your worries at rest, I present to you EcoNote, a very simple yet efficient way to keep your notes organized effortlessly and life simplified!
               </p>



                    <p><span>
                        <i class="fa fa-circle"></i>
                    </span>
                        Create your notebooks and notes under a subject or independently</p>
                    <p><span>
                        <i class="fa fa-circle"></i>
                    </span>
                        Set reminders for your notes or to-do lists</p>
                    <p><span>
                        <i class="fa fa-circle"></i>
                    </span>
                        Uncomplicated way of sharing your notes with your peers</p>

            </h4>
        </div>
        <br>
        <br>
        <div class="col-lg-12 col-md-12 col-sm-12 ">
            <br> <br> <br> <br> <br>
            <h4 class="post-subtitle" align="center">
                This website is created and designed by Biyanta.

            </h4>
            <h4 class="post-subtitle" align="center">
                You can connect me with through any one of the socials or drop me mail!
            </h4>

        </div>

    </div>



    <div>
        <footer>
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <br>
                        <ul class="list-inline text-center">
                            <li>
                                <a href="https://www.linkedin.com/in/biyantashah93">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/biyanta.shah">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/BiyantaShah/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:shah.bi@husky.neu.edu">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                        </ul>

                        <p class="copyright text-muted">Copyright &copy; Eco-Note 2016 </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>