<div>
<br>
    <header class="intro-header"
            style="background-image: url('http://www.artsfon.com/pic/201508/2560x1440/artsfon.com-71621.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Welcome!</h1>
                        <hr class="small">
                        <span class="subheading">Simplify your life with Eco-Note</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                        <hr>
                        <h2 class="post-title" align="center">
                            About Eco-Note
                        </h2>
                    <hr>
                    <h3 class="post-subtitle">
                            Are you tired of organizing all your notes? Is sharing notes with your peers becoming a tedious task?</h3>
                    <h3 class="post-subtitle">
                            Put all your worries aside, as
                            <b>ECO-NOTE</b> is here!
                            Eco-Note is the perfect platform to manage all your work efficiently
                            and systematically! To give it a try, <a href="/register"> REGISTER TODAY!</a>
                        </h3>



                </div>
                <hr>
                <br>
                <div class="post-preview">
                    <hr>
                    <h2 class="post-title" align="center">
                        The Author
                    </h2>
                    <hr>
                    <h3 class="post-subtitle">
                        Hi! I am Biyanta Shah, the author of Eco-Note</h3>
                    <h3 class="post-subtitle">
                        I would love to hear your comments, Shoot me an email or reach me through one of the socials, I'll get back to you as soon as possible!
                    </h3>



                </div>



                <!-- Pager -->

            </div>
        </div>
    </div>
    <div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <ul class="list-inline text-center">
                            <li>
                                <a href="https://www.linkedin.com/in/biyantashah93">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/biyanta.shah">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/BiyantaShah/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:shah.bi@husky.neu.edu">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; Eco-Note 2016 </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>