<div>

    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 main">

        <form class="form-horizontal style"> 
            <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
            <div ng-controller="NoteTextController">
            <h3 class="pull-left">{{model.note.noteTitle}}</h3>
           <br>
            <div class="pull-left">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star-empty center" aria-hidden="true"></span>
                </button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </div>

            <br> <br> <br>
            <textarea  class = "form-control" rows="20" ng-model = "model.note.content"
                      placeholder="Click here to create your note or doodle!"></textarea>

            </div>
        </form>

    </div>

</div>



