<div>
    <div class="col-sm-1 col-lg-1 col-md-1"></div>
    <div class="col-sm-10 col-lg-10 col-md-10 col-xs-10 main">

        <form class="form-horizontal style"> 
            <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
            <div ng-controller="NoteTextController">
                <div>
            <h3 class="pull-left margins-bottom">{{model.note.noteTitle}}</h3>

                    <div class="pull-left">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-default" aria-label="Left Align"
                                ng-click="model.reminder = model.note" ng-model="model.reminder" data-toggle="modal" data-target="#myModal">
                            <span class="glyphicon glyphicon-calendar center" aria-hidden="true"></span>
                        </button>
                        </div>


                </div>

            <br> <br>

                <div text-angular ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6'],
                ['bold', 'italics', 'underline'], ['ul', 'ol'], ['redo', 'undo'],
                ['justifyLeft', 'justifyCenter', 'justifyRight'], ['indent', 'outdent'],
                ['insertImage','insertLink'], ['wordcount', 'charcount']]" ng-model="model.note.content">
                </div>

                <br>
                <div class="center">
                <button type="button" class="btn btn-default" ng-click="model.saveContent(model.note)">Save Note</button>
                </div>

            </div>
        </form>

    </div>
    <div class="col-sm-1 col-lg-1 col-md-1"></div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Set a Reminder </h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Title for the Reminder </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Set a Date</label>
                            <input type="date" class="form-control" ng-model="model.dateset">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a type="button"  data-dismiss="modal" ng-click="model.saveReminder(model.note, model.dateset);" class="btn btn-primary">Ok</a>
                </div>
            </div>
        </div>
    </div>

</div>



