

<div ng-controller="NoteListController">


    <div class="col-sm-12 col-lg-12 col-md-12 main">

        <h1 >Profile</h1>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="#/profile">Edit Profile</a></li>
            <li role="presentation" class="active"><a href="#/noteList">Notes Created</a></li>
            <li role="presentation"><a href="#/groupList">Groups</a></li>
        </ul>

        <div>
                <div>
                    <hr class="hr-break">
                    <h4>Notes for:</h4>
                </div>
                    <br>
                    <div>
                    <ul ng-repeat="note in notes">
                        <li><a>{{note.title}}</a></li>
                    </ul>
                        </div>

        </div>


    </div>

</div>