<div>

    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 main">
        <br>
        <h3 align = "center">Find Your Notes </h3>
        <br>
        <form class="form-horizontal style"> 
            <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
            <div ng-controller="SearchController">
                <input type="search" class="form-control" ng-model = "model.note.searchName" placeholder="Search for your notes">

                <h5 align="center"><a ng-click = "model.searchNote(model.note.searchName);" class="btn btn-default">Search
                </a> </h5>

                <div align="center">
                   <br>
                    <a href="#/noteText" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>

                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>

                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>

                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </button>

                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </button>
                </div>

            </div>
        </form>

        <table ng-show = "model.note">
            <tbody>
            <tr>
                <a ng-click="model.showContent(model.note._id);"> {{model.note.noteTitle}} </a>
            </tr>
            </tbody>
        </table>

    </div>

</div>





