.style{
    white-space: nowrap;
}

.row{
    margin-right: -1px;
    margin-left: -15px;

}

.col-6{
    float: left;
    width:50%;
    position:relative;
    min-height: 1px;
    padding-right: 60px;
    padding-left: 15px;
}

.pull-right{
    float: right;
}

.just{
    text-align: justify;
}

.placeholder{
    text-align: start;
    overflow:auto;
    border-radius:40%;
}

.control-label{
    text-align:left !important;
}
